BODY  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	background-color : #ffffff;
}
#lista{
	background:#f3e5f5;
	padding:20px;
}
.xform{
	background:#fff;
	width:800px;
}
.container{
	width:600px;
	background:#e3f2fd;
}

.btn{
	width:300px;
}
#uno{
	width:300px;
}
#bien{
	background:#fff;
}
#prueba{}
#plaga{
	width:400px;
	background-color: #000;
}
#title{
	margin-left:0px;
}
#sub{

	margin-left: 120px;
}
.dias{

	font-size:20px;
	font-family:comic sans ms;
}

.diavalido{
	font-size:30px;
	font-family:comic sans ms;
	height:70px;
}
table{
	font-size:30px;
	height:90px;
	width:800px;
	margin-left: 20px;
	margin-top:30px;
}
input[type=text]{
	width:120px;
}
TD  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
}

INPUT  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

TEXTAREA  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

SELECT  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

.tablacalendario{
	width: 200px;
}
.tablacalendario TD {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
}
.diasemana  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: #ffffff;
	background-color: #666666;
	text-align: center;
}
.tit, .titmesano  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: #ffffff;
	background-color: #333333;
	font-weight: bold;
}
.titmesano{
	text-align: center;
}
.messiguiente, .mesanterior{
	font-size:10pt;
	font-weight:bold;
	color:white;
}
.mesanterior{
	text-align: right;
}
.messiguiente a, .mesanterior a{
	color:white;
	text-decoration:none;
}
.diavalido{
	text-align: center;
}
.diainvalido{}

.hoy {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 000099
}

.prueba{

	border:1px solid red;
}
.domingo {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 990000
}
.diario {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 000000
}
.tform {
	border-width: 1px;
	border-color: 75263C;
	border-style: solid;
}
