body{
	background:#fff;
}

span{
	height:30px;
}

table{
	font-size:30px;
	height:200px;
	width:300px;
}

td{
	padding:30px;
}
#dias{
	background:#fff;
}
a{
	font-size:20px;
}

.dias{
	background:#fff;
}

h2,h1{
	text-align:center;
}
.red{
	color:red;

}
#r{
	float:right;
}

#listado{
	border-radius:2px;
	width:1200px;
}

#container{
	margin-left:270px;
	margin-top:100px;
}

input[type=text]{
	height:30px;
	border-radius:2px;
	font-family:arial;
	color:#1a237e;
	font-size:20px;
}